{{> header}}
{{> navbar}}
<div class="row" style="margin: 0 !important;">
    <div class="col-4">
        <h1>About</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/angular-img.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}